{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="post_form">
    <form id="post_form">
        <h1>Submit a new post</h1>
        <textarea class="form-control" id="post_body" placeholder="Create a new post..."></textarea>
        <input id="post_button" type="submit" class="btn btn-primary" />
    </form>
</div>

<div id="profile"></div>

<div id="all_posts"></div>
{% endblock %}


{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
